/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */
.wrapper {
    width: 100%;
    height: 100vh;

}
.main-content {
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
}
li {
    list-style-type: none;
}

p {
    line-height: 1.5em;
}
h3 {
    padding: 20px;
}

/* LEFT-BAR */
.leftbar-container {
    width: 200px;
    height: 100%;
    background-color: black;
}
.left-bar {
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;

    color: white;
    overflow-y: auto;

}
.left-bar li{
    color: gray;
    padding: 10px 0 0;
    font-size: .8rem;
}
.logo {
    padding: 10px 20px 10px 0;
    width: 150px;
}
.logo-small{
    display: none;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
}
.logo-small img {
  
    padding: 5px 5px 10px;
}
.left-bar-list1{
    padding-bottom: 20px;
}

.left-bar-list2{
    flex-grow: 1;
    overflow-y: auto;
}
.left-bar h4{
    text-transform: uppercase;
}
.left-bar span{
    padding-left: 10px;
}
.leftbar-plus{
    vertical-align: middle;
    font-size: 3rem;
}
.leftbar-icons {
    width: 30px;
    vertical-align: middle;
    filter: contrast(.2);
}
.home {
    filter: none;
}
/* .leftbar-footer{
    width: 200px;

} */
.app-download {
    filter: contrast(0.1);
    display: inline-block;
    width: 20px;

    vertical-align: middle;
}
.leftbar-footer h5{
    display: inline;
    color: gray;
}
.leftbar-footer span{
    color: gray;
}
.leftbar-footer a{
    text-decoration: none;
    margin-bottom: 20px;
}
.circle-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    background-color: gray;
    border-radius: 50%;
    vertical-align: middle;
}
.circle h5 {
    color: white;
    padding-left: 5px;
}
.circle{
    padding-top: 10px;
}
.app {
    padding-bottom: 10px;
}
.leftbar-footer hr {
    width: 100%;

}
.grey {
    color: gray;
}
@media screen and (max-width: 600px) {
    .leftbar-container{
        width: 80px;
    }
    .left-bar {
        display: none;
    }
    .logo-small {
        display: block;
    }
    
}
h6 {
    padding: 5px;
    color: grey;
    font-weight: 400;
}

/* CONTENT */

.content{
    height: 100%;
    width: calc(100% - 200px);
    padding: 20px;
    overflow-y: auto;
    background-color: #141922;
}

/* content-header */

.content-header{
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    top:0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
}
.header-btn {
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;

}
.content-header button {
    border-color: 2px solid white;
}
/* content-page */

.content-page {

    padding-top: 100px;
    color: white;
}
.content-page li {
    color: gray;
    font-size: 1.2vw;
    text-transform: uppercase;
}
.page-list1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.row {
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}
.img-hover {
    position: relative;
}

.col {
    
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}
.col i { 
    font-size: 60px;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);   
    
}
.page-list4 img {
    border-radius: 50%;
}

.img-hover i {
    display: none;
}
.col:hover i {
    display: block;
}
.col:hover {
    opacity: 0.5;

}

li:hover {
    color: white;
}

/* .img-hover i:hover {
    display: block;
} */


@media screen and (max-width: 1100px ) {

    .col {
        width: calc(100% / 4 - 10px);
    }
}
@media screen and (max-width: 700px) {
    .col {
        width: calc(100% / 2 - 10px);
    }
}
@media screen and (max-width: 600px) {
    .content {
        width: calc(100% - 80px);
    }
    .content-header {
        width: calc(100% - 80px);
    }
}
/* PLAYBAR */
.playbar{
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}
.playbar1{
    align-items: center;

    height: 100%;
    padding: 20px;
    display: flex;
    color: white;
}
.playbar1 img {
    width: 50px;
    height: 50px;
}
.playbar-name{
    display: inline;
    padding: 0 40px 0 20px;
}
.playbar1 i {
    padding-left: 10px;

}
.playbar2 {
    width: 40%;
    margin: 0 auto;
}
.bar-top i {
    font-size: 1.5rem;
    padding: 5px;
}
.bar-top i:nth-child(3) {
    font-size: 2rem;
}
.bar-top {
    padding-top: 10px;
    color: white;
    text-align: center;
}
.bar-bottom {
    
    align-items: baseline;
    display: flex;
    /* width: 80px; */
    margin:  0 auto;
    color: white;

}
.bar-long {

    margin: 20px;
    width: 100%;
    height: 3px;
    background-color: gray;

}
.bar-short {

    width: 40%;
    height: 3px;
    background-color: white;
}
.playbar3 {
    width: 20%;
    color: white;
    display: flex;
    align-items: center;
}
.sidebar {
    margin: 20px;
    width: 100%;
    height: 3px;
    background-color: gray;
}
.sidebar-small {
    width: 40%;
    height: 3px;
    background-color: white;
}
.playbar3 i {
    padding: 10px;
}

@media screen and (max-width: 700px) {
    .playbar1-icons {
        flex-direction: column;
    }
    .playbar-name {
        padding: 5px;
    }
}